/* .adminSidebar .active {
	background-color: #0d3d4b;
	color: white;
	position: relative;
	border-left: 4px solid #f2c852;
}
 */

/* CustomNavLink.css */

/* Main NavLink container */
.nav-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
	margin-bottom: 10px;
}

/* Left side colored elements */
.left-side {
	display: flex;
	align-items: center;
}

/* Yellow rectangle */
.yellow-bg {
	width: 10px;
	height: 30px;
	background-color: yellow;
}

/* White rectangle */
.white-bg {
	width: 10px;
	height: 30px;
	background-color: white;
}

/* Content */
.nav-content {
	margin-left: 10px;
}

/* Active NavLink styles */
.active {
	background-color: green;
	color: white;
}
